<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#29263e">

    <title>mcow.ml</title>
    <meta name="title" content="mcow.ml">
    <meta name="description" content="A simple, secure, and open-source URL shortener!">

    <link href="index.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.typekit.net/jdq7cig.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
        integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q" crossorigin="anonymous">

    <script>
        function checkPasswords() {
            const password = document.getElementById('password');
            const confirmPassword = document.getElementById('confirm-password');
            const submitBtn = document.getElementById('signup-btn');
            const errorDisplay = document.getElementById('password-error');

            if (password.value === confirmPassword.value) {
                submitBtn.disabled = false;
                errorDisplay.style.display = 'none'; // Hide error message
            } else {
                submitBtn.disabled = true;
                errorDisplay.style.display = 'block'; // Show error message
            }
        }
    </script>
</head>

<body>
    <main>
        <div class="flex">
            <div class="form-and-title">
                <div class="heading">
                    <a href="/" id="home">
                        <img id="cow" class="cow" src="../logo.png" alt="cow image">
                        <h1>mcow.ml</h1>
                    </a>
                </div>
            </div>
            <div class="login">
                <h1 class="login-title">Sign Up</h1>
                <div>
                    <% if (error) {%>
                        <p class="error">
                            <%=error%>
                        </p>
                        <%}%>
                </div>
                <form class="login-form" action="/signup" method="post">
                    <input type="email" name="email" id="email" placeholder="Enter email" required>
                    <input type="password" name="password" id="password" placeholder="Enter password" required
                        oninput="checkPasswords()">
                    <input type="password" name="confirm-password" id="confirm-password" placeholder="Confirm password"
                        required oninput="checkPasswords()">
                    <p id="password-error" style="display: none; color: red;">Please make sure the passwords match.</p>
                    <input id="signup-btn" class="login-button" type="submit" value="SIGN UP" disabled>
                </form>
                <p>Already a member? <a class="sign-up-link" href="/login">Log in</a> now!</p>
            </div>
            <footer>
                <p>made by <a class="footer-link" href="https://vanajmoorthy.netlify.app" target="_blank"
                        rel="noopener noreferrer">vanaj moorthy</a></p>
                <p>get source <a class="footer-link orange" href="https://github.com/vanajmoorthy/mcow.ml"
                        target="_blank" rel="noopener noreferrer">here</a></p>
            </footer>
        </div>
    </main>
</body>

</html>